/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

/*[x-cloak] {*/
/*    display: none;*/
/*}*/

@import "bootstrap/dist/css/bootstrap.css";
@import "@vueform/multiselect/themes/default.css";
@import 'bootstrap-icons/font/bootstrap-icons.min.css';
@import "vue-toastification/dist/index.css";

@font-face {
    font-family: 'Montserrat-Light';
    src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spin {
    animation: spin 1s linear infinite;
}

.input-group-text:hover {
    color: white;
    background: #E22827 !important;
}

.multiple-inputs li {
    width: calc(15% - 5px);
    margin-right: 5px !important;
}

.multiple-inputs li:nth-of-type(5) {
    width: calc(20% - 5px);
}

.multiple-inputs li:last-of-type {
    width: 20%;
    text-align: center;
    margin-right: 0 !important;
}

.multiple-inputs input {
    padding: 5px;
    font-size: 15px;
    text-align: center;
}

.multiple-inputs > li.sub_total:nth-of-type(-n + 4) > input,
.multiple-inputs > li.total_disease:nth-of-type(-n + 4) > input,
.multiple-inputs > li.total_defects:nth-of-type(-n + 4) > input {
    display: none;
}

.multiselect {
    min-height: 40px;
    padding: 0 !important;
    border-radius: 0.375rem;
    background: #F2F2F2 !important;
}

.multiselect-search {
    background: #F2F2F2;
}

.multiselect-option.is-selected,
.multiselect-option.is-selected:hover,
.multiselect-option.is-selected.is-pointed,
.multiselect-option.is-selected.is-pointed:hover {
    color: #fff;
    background: #E22827;
}

.multiselect-tags-search {
    background: #F2F2F2;
    line-height: 30px;
    margin-top: -2px;
    font-size: 14px;
}

.multiselect-placeholder {
    font-size: 14px;
}

.multiselect-option, 
.multiselect-no-results,
.multiselect-single-label-text {
    font-size: 14px;
}

.multiselect-tag {
    line-height: 20px;
    font-size: 12px;
    font-weight: normal;
    background: white;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    color: #211F1F;
    font-size: 14px;
    background-color: white;
    font-family: 'Montserrat-Regular';
}

.btn {
    border-radius: 3px;
    transition: 300ms ease-out;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.09);
}

.btn-red,
.btn-lg-red {
    background: #E22827 !important;
    border: 1px solid #E22827;
    color: #fff !important;
}

.btn-transparent {
    color: #000000;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.09);
    padding: 8px 11px;
    border: 1px solid rgba(0, 0, 0, 0.09);
}

.btn-black {
    background: #000000 !important;
    border: 1px solid #000000 !important;
    color: #fff !important;
}

.btn-red i,
.btn-lg-red i {
    font-size: 17px;
    color: #fff !important;
}

.btn-lg-red {
    border-radius: 6px;
    width: 100%;
    font-family: 'Montserrat-Medium';
    padding: 13px 20px;
    font-size: 16px;
    margin-bottom: 25px;
}

.btn-red:hover,
.btn-lg-red:hover,
.btn-transparent.active,
.btn-transparent:hover,
.btn-black:hover {
    background: #fff !important;
    border: 1px solid #E22827;
    color: #E22827 !important;
}

.btn-red:hover i,
.btn-lg-red:hover i,
.btn-black:hover i,
.btn-transparent.active i,
.btn-transparent:hover i {
    color: #E22827 !important;
}

.invalid-feedback {
    color: rgb(220, 53, 69) !important;
}


/******* Auth Pages *********/
.login-section {
    font-size: 14px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.signup-section {
    max-width: 900px;
    margin: 50px auto;
}

.login-box,
.signup-box {
    margin: auto;
    max-width: 350px;
    padding: 0 10px;
}

.login-box p .logo,
.signup-box p .logo {
    height: 120px;
    margin-bottom: 25px;
}

.login-box p {
    margin-bottom: 15px;
    color: #211F1F;
    font-size: 14px;
}

.login-box p a,
.signup-box p a {
    color: #211F1F;
    text-decoration: underline;
}

.login-box .terms-condition,
.signup-box .terms-condition {
    font-size: 13px;
}

.form-control-feedback {
    position: absolute;
    left: 15px;
    top: 14px;
    color: rgba(0, 0, 0, 0.14);
}

.login-box .custom-input,
.signup-box .custom-input {
    height: 50px;
    padding-left: 40px;
    font-size: 14px;
    box-shadow: 1px 7px 8px rgba(0, 0, 0, 0.09);
}

.slider-box {
    text-align: center;
    max-width: 450px;
    margin: 150px auto;
}

.slider-box img {
    width: 250px !important;
    height: 250px !important;
    margin: auto;
}

.slider-box .carousel-inner h4 {
    font-family: 'Montserrat-Bold';
    color: #211F1F;
    margin-bottom: 15px;
    margin-top: 25px;
}

.slider-box .carousel-indicators {
    bottom: -40px !important;
}

.slider-box .carousel-indicators button {
    background-color: rgba(112, 112, 112, 0.3);
}

.slider-box .carousel-indicators button.active {
    background-color: #E22727;
}

.account-approval img {
    height: 100px;
}

/********* Admin Access *******/
.admin-access {
    padding-top: 40px;
    padding-bottom: 40px;
}

.admin-access .logo {
    height: 120px;
    margin-bottom: 25px;
}

.logout-text {
    position: absolute;
    right: 50px;
    top: 45px;
}

.logout-text a {
    color: rgba(33, 31, 31, 0.87);
    font-family: 'Montserrat-Medium';
}

.admin-menu {
    max-width: 900px;
    margin: auto;
}

.admin-menu h5 {
    font-size: 16px;
    margin-left: 65px;
    margin-bottom: 30px;
    font-family: 'Montserrat-Medium';
}

.admin-access .menu-icon a {
    color: #000000;
    text-decoration: none;
    font-family: 'Montserrat-Medium';
}

.admin-access .menu-icon img {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    display: block;
    margin: auto;
}

.admin-access .menu-icon {
    max-width: 150px;
    text-align: center;
    margin: 0 auto 40px auto;
}

/********* Admin Access *******/

/********* Top & Middle Section *******/

.topbar .user-logo img {
    height: 90px;
}

.topbar .form-group {
    width: 70%;
    margin: 25px auto 0 auto;
}

.topbar .custom-input {
    border-radius: 6px;
    height: 50px;
    background: #F2F2F2;
    padding-left: 40px;
}

.middle-section .custom-input {
    padding-left: 30px;
    background: #F2F2F2;
}

.middle-section .form-control-feedback {
    left: 10px;
    top: 10px;
}

.topbar .logout-top {
    text-align: right;
    margin-top: 40px;
}

.topbar .logout-top a {
    color: rgba(33, 31, 31, 0.87);
    font-family: 'Montserrat-Medium';
}

.middle-section {
    border-top: 1px solid rgba(112, 112, 112, 0.23);
    border-bottom: 1px solid rgba(112, 112, 112, 0.23);
}

.middle-section > .row > div:first-child {
    border-right: 1px solid rgba(112, 112, 112, 0.23);
}

.middle-section .middle-left,
.middle-section .middle-right {
    padding: 10px 20px;
}

.middle-section ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.middle-section .middle-right ul {
    /*min-width: 200px;*/
    /*text-align: right;*/
}

.middle-section ul li {
    display: inline;
    margin-right: 10px;
}

.middle-section ul > li:last-of-type {
    margin-right: 0;
}

.middle-section ul li i {
    color: #747474;
}

.middle-section ul li a {
    color: #211F1F;
    text-decoration: none;
    font-family: 'Montserrat-Medium';
}

/********* End Top & Middle Section *******/

/********* Nav left Section *******/
.tab-section > .row > div:first-child {
    border-right: 1px solid #ddd;
}

.nav-left > a {
    padding: 10px 15px;
    text-decoration: none;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.09);
}

.nav-left > a.active,
.nav-left > a:hover,
.nav-left > a:focus {
    background: #EFD6E0;
}

.nav-left .table tr > td:first-child,
.nav-left .table tr > th:first-child {
    width: 40%;
}

.nav-left .table tr th,
.nav-left .table tr td {
    font-size: 12px;
    background: inherit;
}

.nav-left .table tr th {
    font-weight: lighter;
}

.nav-left .table tr td {
    padding-top: 0;
    font-family: 'Montserrat-Medium';
}

.nav-left .table tr td .btn-red {
    padding: 4px 8px;
    font-size: 12px;
    margin-top: -10px;
}

.nav-left > a .angle-right {
    position: absolute;
    top: calc(50% - 10px);
    right: 15px;
    font-size: 20px;
    color: #000000;
}

/********* End Nav left Section *******/

/******  Users ********/
.tab-section .tab-content {
    padding: 1rem;
}

.tab-section .user-boxes {
    padding: 20px;
    background: #fff;
    border-radius: 6px;
    margin-bottom: 25px;
    box-shadow: 0 4px 9px 2px rgba(0, 0, 0, 0.09);
}

.input-table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.input-table > tr:last-of-type {
    border-bottom: 0;
}

.input-table tr th,
.input-table tr td {
    padding: 10px 0;
}

.input-table tr th {
    width: 30%;
    padding-right: 5px;
    font-weight: lighter;
}

.paddock-table tr td:first-of-type {
    width: 50%;
}

.paddock-table tr td:last-of-type {
    width: 20%;
}

.input-group > .multiselect {
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.tab-section .user-boxes h6 {
    margin-bottom: 10px;
}

.tab-section .user-boxes h5 {
    margin-bottom: 25px;
}

.tab-section .user-boxes .form-control {
    background: #F2F2F2;
}

.tab-section .user-boxes input.form-control {
    height: 40px;
}

.tab-section .user-boxes ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.tab-section .user-boxes ul li {
    margin-right: 10px;
    display: inline-flex;
}

.tab-section .user-boxes ul li a:not(.btn) {
    background: #F2F2F2;
    color: #000000;
    border-radius: 4px;
    padding: 5px 0.75rem;
    text-decoration: none;
    margin-bottom: 10px;
    font-family: 'Montserrat-Medium';
}

.tab-section .carousel-control-prev-icon,
.tab-section .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
}

.tab-section .notes-list ul li img {
    cursor: pointer;
    max-height: 100px;
}

.tab-section .user-boxes ul li .bi-x-circle {
    position: absolute;
    font-size: 18px;
    padding: 6px 8px;
    top: -15px;
    right: -10px;
    cursor: pointer;
}

.tab-section .user-boxes ul li .bi-x-circle:hover {
    color: #E22827;
}

.tab-section .user-boxes ul li .btn-pending {
    background: #FEEA4D;
    color: #000000;
}

.tab-section .user-boxes ul li .btn-dark,
.tab-section .user-boxes ul li .btn-pending,
.tab-section .user-boxes ul li .btn-black {
    border: 0 !important;
    font-size: 15px;
    margin-bottom: 10px;
    font-family: 'Montserrat-Medium';
}

.tab-section .user-boxes ul li .btn-dark {
    color: #000000;
    background: #F2F2F2;
}

.tab-section .user-boxes ul li .btn-dark:not(.not-clickable):hover {
    color: #fff;
    background: #000000;
}

.tab-section .user-boxes ul li .btn-black:hover {
    color: #000000 !important;
    background: #F2F2F2 !important;
}

.tab-section .user-boxes ul li .btn-dark.not-clickable,
.tab-section .user-boxes ul li .btn-black.not-clickable {
    cursor: text;
}

.tab-section .user-boxes ul li .btn-black.not-clickable:hover {
    color: #fff !important;
    background: #000000 !important;
}

.tab-section .user-boxes ul li .green-btn {
    background: #00A566;
    color: #FFFFFF;
}

.tab-section .user-boxes ul li .trash-btn {
    color: #000000;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.09);
    padding: 8px 11px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    background: #ffff;
}

.tab-section .user-boxes .user-column-two {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.tab-section .tab-content h4 {
    font-family: 'Montserrat-Medium';
    color: #211F1F;
    font-size: 14px;
}

/**** ModalRight ******/
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

.modal-content {
    border-radius: 0;
    border: none;
}

.modal.right .modal-body ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 20px;
}

.modal.right .modal-body ul li {
    margin-bottom: 25px;
}

.modal.right .modal-body ul li a {
    color: #211F1F;
}

.modal.right .modal-body ul li a span {
    color: #DDDDDD;
    float: right;
    font-size: 20px;
}

.modal.right .modal-header {
    display: flex;
    align-items: center;
}

.modal.right .modal-header .close {
    float: none;
}

.modal.right .modal-header .modal-title {
    margin: auto;
}

/**** ModalRight ******/


/****** Files ********/
.files-section .files-left {
    padding: 14px 20px;
    border-right: 1px solid rgba(112, 112, 112, 0.17);
}

.files-section .files-left ul {
    padding-left: 0;
    list-style-type: none;
}

.files-section .files-left ul li {
    display: inline;
    margin-right: 10px;
}

.files-section .files-left ul li img {
    height: 80px;
    max-width: 300px;
}

.files-section .slider-files {
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding-top: 120px;
}

.files-section .slider-files img {
    margin: auto;
    width: 100%;
    text-align: center;
    max-width: 450px;
}

.carousel-control.left {
    background: none;
}

.carousel-control.right {
    background: none;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    color: #000000;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev {
    color: #000000;
}

.rec-id .header > div:first-child {
    font-size: 22px;
}

.rec-id .header > div:last-child {
    font-size: 18px;
}

.print-body-page {
    max-width: 1240px; 
    margin: 0 auto
}

.rec-id-tia-sample h1 {
    font-size: 5rem;
}

.rec-id-tia-sample h2 {
    font-size: 2rem;
}

.text-light {
color: #777 !important;
}

.rec-3-labels strong,
.rec-labels h4 {
    font-size: 1.5rem !important;
}

.rec-labels .input-table tr th, 
.rec-labels .input-table tr td {
    padding: 5px 0;
    font-size: 13px;
}

@media print {
    * {
        color-adjust: exact !important;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
    
    /* Hide specific elements */
    /*.header, .footer {*/
    /*    display: none !important;*/
    /*}*/

    /* If you need to hide the default header/footer text */
    @page {
        margin: 0;
    }
    
    .print-body-page {
        max-width: 100%;
        padding: 20px;
    }

    .page-break {
        page-break-after: always;
    }
}


@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {
    .topbar .form-group {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .admin-access .menu-icon {
        margin: 0 auto 30px auto;
        font-size: 14px;
    }

    .admin-menu h5 {
        margin-left: 0;
        text-align: center;
    }

    .topbar .form-group {
        margin-top: 15px;
    }

    .mobile-topbar i {
        font-size: 20px;
    }

    .mobile-topbar a {
        color: #211F1F;
    }

    .files-section .slider-files {
        text-align: center;
        padding-top: 50px;
    }
}

@media only screen and (max-width: 575px) {
    .middle-section .middle-left,
    .middle-section .middle-right {
        padding: 10px;
    }
    
    .nav-left > a .angle-right {
        right: 10px;
        background: rgba(0, 0, 0, 0.2);
    }

    .nav-left .table tr > th:last-of-type,
    .nav-left .table tr > td:last-of-type {
        padding-right: 15px;
    }
    
    .allocation-items-box span {
        width: 40%;
        display: inline-block;
    }
    
    .allocation-items-box div.col-12 {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(33, 31, 31, 0.25);
    }
    
    .allocation-items-box > div:last-of-type {
        border-bottom: 0;
    }

    .multiple-inputs li {
        width: calc(20% - 5px);
        margin-right: 5px !important;
    }

    .multiple-inputs li:nth-of-type(5) {
        width: 20%;
        margin-right: 0 !important;
    }
}